<!doctype html>
<html lang="en-us">
  <head>
{% include "app_meta.html" %}    
{% block css %}
  <link rel="stylesheet" href="css/app.css">
{% endblock %}     
  </head>
  <body id="app--{{ app.id }}">
{% block header %}
  {% include "app_header.html" %}  
{% endblock %}  

    <main id=main class="app__main page--{{ page.id }}" role="main">
      <article>
{% block content %}{% endblock %}     
      </article>
    </main>
{% include "app_footer.html" %}
    <script src="js/app.js"></script>
  </body>
</html>