#headline {
	visibility: hidden;
}
.ready {
	#headline {
		visibility: visible;
		animation-name: fadeInLeft;
		animation-duration: 0.25s;
		animation-fill-mode: both;
	}
}
#experience-section, #skills-section {
	visibility: hidden;
}
.ready {
	#experience-section, #skills-section {
		visibility: visible;
		animation-name: fadeInLeft;
		animation-duration: 0.2s;
		animation-fill-mode: both;
	}
	#skills-section {
		animation-delay: 0.1s;		
	}
	#experience-section {
		animation-delay: 0.2s;
	}	
}
#nav {
	li {
		visibility: hidden;
	}
}
.ready {
	#nav {
		li {
			visibility: visible;
			animation-name: fadeInLeft;
			animation-duration: 0.2s;
			animation-fill-mode: both;
		}
		li:nth-child(3) {
			animation-delay: 0.15s;		
		}
		li:nth-child(2) {
			animation-delay: 0.2s;
		}
		li:nth-child(1) {
			animation-delay: 0.25s;		
		}
	}
}





#lyric {
	visibility: hidden;
	&.show {
		visibility: visible;
		animation-name: fadeInUp;
		animation-duration: 0.15s;
		animation-timing-function: ease-in-out;
	}
}

#lyric {
  position: relative;
  padding-left: 39px;
  .spotify {
    position: absolute;
    left: 0;
    content: '';
    vertical-align: middle; 
    width: 28px; 
    height: 28px; 
    background-repeat: no-repeat; 
    background-size: contain;
    top: -5px; 
    background-image: url(../img/icon-spotify.svg); 
    text-indent: 100%;
    line-height: 25px;
    overflow: hidden;
  }
  p {
    .verse {
      line-height: 1.1;
    }
    .artist {
      display: block;
      margin-top: 5px;
      font-size: 11px;
/* 
      margin-left: -4px;
      &:before {
        content: '-';
        position: relative;
        left: -3px;
      }
 */
    }
  }
  .verse {
    &:before, &:after {
      display: inline;
      font-size: 1.2em;
    }
    &:before {
      content: '“';
      margin-right: 1px;
      margin-left: -8px;
    }
    &:after {
      content: '”';
      text-align: right;
    }
  }
}


/* details */
#sg {
  display: block;
  position: absolute;
  opacity: 0;
  right: 0;
  font-family: '99-Special'; 
  line-height: 75px;
  strong {
    display: none;
  }
}
@keyframes fontsize {
  0% { font-size: 20000px;  }
  100% {  }
}
@keyframes sgscale {
  0% { font-size: 20000px; transform: rotate(0deg); }
//  20% { font-size: 90px; transform: rotate(45deg);  }
//  90% { font-size: 90px; transform: rotate(45deg);  }
  100% { font-size: 100px; transform: rotate(0deg);  }
}
#sg.show {
  opacity: 1;
 	animation-name: sgscale;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
	animation-fill-mode: both;
}


