@scrimBkgdColor: @lightblue;

@keyframes scrimfade {
  0% { background-color: @scrimBkgdColor; }
  10% { background-color: @lightgreen; }
  25% { background-color: @yellow; }
  40% { background-color: @pink; }
  60% { background-color: @red; }
  75% { background-color: @yellow; }
  90% { background-color: @lightgreen; }
  100% { background-color: @scrimBkgdColor; }
}


#scrim {
  background-color: transparent;
  opacity: 1;
  .panel {
    background-color: transparent;
    opacity: 0;	
    transition: opacity 0.2s ease-in;
    &.visible {
      opacity: 1;
    }
  }
}
#anim {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  &.visible {
    opacity: 0.5 !important;
  }
	@media screen and (max-width: 568px), (max-height: 568px) {
    background-repeat: repeat;
    background-size: contain;
    background-position: 50% 0;
	}
}

#color { 
	animation-name: scrimfade;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: both;
}




////////////////////////


@keyframes scrimfade-classic {
  0% { background-color: @scrimBkgdColor; }
  25% { background-color: @pink; }
  50% { background-color: @redorange; }
  75% { background-color: @orange; }
  100% { background-color: @scrimBkgdColor; }
}
@keyframes textfade {
  0% { filter: invert(0%) }
  10% { filter: invert(0%) }
  20% {filter: invert(0%) }
  35% { filter: invert(100%) }
  40% { filter: invert(100%)}
  70% { filter: invert(100%) }
  90% { filter: invert(0%) }
  100% { filter: invert(0%) }
}
