
#view {
	padding: 0 50px;
	@media screen and (max-width: 568px) {
		padding: 0 25px;		
	}
}
header, main, footer {
//	outline: solid 2px blue;
}

/* header */
header { 
	padding-top: 25px; 
	//padding-bottom: 0;
	 
	address {
		display: block;
		font-size: 20px; 
		margin-bottom: 15px; 
		text-align: right;
		font-style: normal;
		font-weight: bold;
	}
	h1 {
		font-size: @largeFontSize; 
		line-height: 50px;
		margin-bottom: 20px;
		@media screen and (max-width: 480px) {
			font-size: @h1FontSize;
			line-height: 45px;
		}
	}
}
/* content */
main { 
	.lead {
		font-size: @h4FontSize;
		line-height: 30px;
		margin-bottom: 25px;
	}
	section {
		display: inline-block;
		width: 290px;
	
		&#experience-section {
			margin-right: 50px; 
			@media screen and (max-width: 568px) {
				margin-right: 0;
			}	
		}
		ul {
			line-height: 25px;
			li {
				padding-left: 0;
				margin-left: 0;
				&:before {
					position: relative; left: -20px; margin-right: -18px; content: '—'; padding-right: 5px;
				}
			}
		}
	}
	nav {
		//margin-top: 30px;
		@media screen and (max-width: 568px) {
			margin-bottom: 30px;	
		}
		ul {
			margin-bottom: 0;
		}
		li {
			list-style: none;
			min-width: 130px; 
			display: inline-block; 
			margin-right: 25px; 
			margin-bottom: 10px;
		}
		a {
			display: inline-block;
			/* icons */
			&:before {
				content: '';
				vertical-align: middle; 
				display: inline-block; 
				margin-right: 5px; 
				width: 25px; 
				height: 25px; 
				background-repeat: no-repeat; 
				background-size: contain;
			}
			&.pdf:before { background-image: url(../img/icon-pdf.svg); }
			&.linkedin:before { background-image: url(../img/icon-linkedin.svg); }
			&.facebook:before { background-image: url(../img/icon-facebook.svg); }
			&.github:before { background-image: url(../img/icon-github.svg); }
			&.twitter:before { background-image: url(../img/icon-twitter.svg); }
			&.instagram:before { background-image: url(../img/icon-instagram.svg); }
		}
	}
	
}
/* footer */
footer {
	padding-top: 10px; 
	padding-bottom: 15px;
	.copyright { 
		display: none; 
	}
}


#badge { 
	transition: all;
  text-align: right; 
  height: 90px;
  position: relative;
  margin: 0;


	@media screen and (max-width: 600px), (max-height: 760px) {
		width: 110px;
		position: absolute;
		top: 15px;
		right: 40px;
	}
}



@media screen and (max-width: 600px), (max-height: 760px) {
	header address {
		min-height: 65px;
		text-align: left;
	}
	#banner {
		padding-top: 25px;
	}
	
}


