/* Colors */
@red: #ff0044;
@green: #009933;
@blue: #0066cc;
@white: #FFFFFF;
@purple: #440044;
@grey: #9c9c9c;
@black: #000000;
@brown: #220000;
@redorange: #ff0044;
@orange: #ff6600;
@yellow: #ffff33;
@olive: #555500;

@pink: #ff3399;
@lightblue: #66cccc;

//config
@bkgd-body: @red;
@text-default: @black;

@scrim-default: @bkgd-body;

@keyframes scrimfade {
  0% { background: @scrim-default; }
  25% { background: @pink; }
  50% { background: @redorange; }
  75% { background: @orange; }
  100% { background: @scrim-default; }
}

@import 'base';
@import 'ui';
@import 'view';
@import 'components';

