/* Colors */
@red: #ff0044;
@lightgreen: #11b848;
@green: #009933;
@blue: #0066cc;
@white: #FFFFFF;
@purple: #440044;
@lightgrey: #cbcbcb;
@grey: #9c9c9c;
@black: #000000;
@brown: #aa8833;
@darkbrown: #220000;
@redorange: #ff0044;
@orange: #ff6600;
@yellow: #ffff33;
@olive: #555500;

@pink: #ff3399;
@lightblue: #66cccc;

//config
@bodyBkgdColor: @white;
@defaultTextColor: @black;

@import 'type';
@import 'base';
@import 'ui';
@import 'view';
@import 'components';

